
  
  svg {
    font-family: Arial, sans-serif;
  }
  
  path {
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  circle {
    transition: fill 0.3s, r 0.3s;
  }
  
  circle:hover {
    fill: orange;
    r: 5;
  }