<div class="bg-blue-100 min-h-screen p-8">
  <div class="relative w-full max-w-[750px] mx-auto">
    <!-- Image du corps -->
    <img src="/assets/img_corps.svg" alt="Corps humain" class="w-full h-auto" />

    <!-- Images des organes -->
    <img
      src="/assets/cerveau.svg"
      alt="Cerveau"
      class="absolute left-1/2 top-[3%] w-[10%] -translate-x-1/2 transition-transform duration-300 ease-in-out hover:scale-110"
      (click)="openModal('Cerveau', '/assets/cerveau.svg','Le cerveau est l\'organe principal du système nerveux.')"
    />
    <img
      src="/assets/artere.svg"
      alt="Artère"
      class="absolute left-1/2 top-[45%] w-[20%] -translate-x-1/4 transition-transform duration-300 ease-in-out hover:scale-110"
      (click)="openModal('Artère', '/assets/artere.svg','')"
    />
    <img
      src="/assets/poumons.svg"
      alt="Poumons"
      class="absolute left-1/2 top-[17%] w-[10%] -translate-x-1/2 transition-transform duration-300 ease-in-out hover:scale-125"
      (click)="openModal('Pollution', '/assets/pollution_poumons_oceans.jpg','Exposés aux polluants atmosphériques (fumée, particules fines), les poumons subissent ' +
       'des altérations de leurs fonctions vitales, telles que des maladies respiratoires. Tandis que l\'accumulation de polluants dans les océans, comme les hydrocarbures, les plastiques, ' +
       'et l\'excès de CO₂, menace l\'équilibre des écosystèmes marins et réduit leur capacité à absorber le carbone et à produire de l\'oxygène.')"
    />
    <img
      src="/assets/coeur.svg"
      alt="Cœur"
      class="absolute left-1/2 top-[24%] w-[10%] -translate-x-1/4 transition-transform duration-300 ease-in-out hover:scale-110"
      (click)="openModal('Cœur', '/assets/circulation_thermohaline.png','Tout comme les arthères se réunissent au niveau du coeur pour réoxygener en sang, les courants océaniques, se ' +
       'réunissent à des endroits spécifiques du globe pour se réchauffer ou se refroidir et regagner en vélocité')"
    />
    <img
      src="/assets/image_rein.png"
      alt="Reins"
      class="absolute left-1/2 top-[38%] w-[10%] -translate-x-1/2 transition-transform duration-300 ease-in-out hover:scale-125"
      (click)="openModal('Reins', '/assets/image_rein.png','Les reins filtrent le sang pour éliminer les déchets métaboliques (comme l\'urée et la créatinine) et ' +
      'les excès de substances (eau, sel, etc.), permettant de maintenir un équilibre chimique dans le corps.' + 'Les océans, grâce à leurs courants et écosystèmes (zones humides, récifs' +
       'coralliens, mangroves), agissent comme un système naturel de filtration en absorbant et en dégradant certains polluants. Des micro-organismes marins décomposent les déchets organiques' +
        'et recyclent les nutriments.')"
    />
  </div>
</div>

<!-- Modale -->
<div id="organModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center opacity-0 pointer-events-none transition-opacity duration-500 ease-in-out">
  <div class="bg-white p-8 rounded-md w-1/3 text-center">
    <h2 id="organName" class="text-2xl font-bold mb-4"></h2>
    <img id="organImage" class="w-full h-auto mb-4" />
    <p id="organDescription" class="text-lg text-gray-700 mb-4"></p> <!-- Ajout de la description -->
    <button (click)="closeModal()" class="px-4 py-2 bg-blue-500 text-white rounded-md">Fermer</button>
  </div>
</div>
