<div class="bg-blue-100 min-h-screen p-8">
  <div class="relative w-full max-w-[750px] mx-auto">
    <!-- Image du corps -->
    <img src="/assets/img_corps.svg" alt="Corps humain" class="w-full h-auto" />

    <!-- Images des organes -->
    <img
      src="/assets/cerveau.svg"
      alt="Cerveau"
      class="absolute left-1/2 top-[3%] w-[10%] -translate-x-1/2 transition-transform duration-300 ease-in-out hover:scale-110"
      (click)="openModal('Sensible à la chaleur', '/assets/ours.jpg','La température du cerveau et des océans est vitale pour leur fonctionnement. Le cerveau régule la température interne du corps, tandis que les océans absorbent l\'excès de chaleur pour réguler le climat. Avec le réchauffement climatique, les océans se réchauffent, entraînant la fonte des glaciers et l\'élévation du niveau de la mer. Cette montée des eaux indique un dérèglement climatique qui perturbe les écosystèmes côtiers et menace les infrastructures humaines. Bien que distincts, ces deux systèmes sont liés dans la régulation de la température globale.')"
    />
    <img
    src="/assets/artere.svg"
    alt="Artère"
    class="absolute left-1/2 top-[45%] w-[20%] -translate-x-1/4 transition-transform duration-300 ease-in-out hover:scale-110"
    (click)="openModal('Régulation de la chaleur', '/assets/planete_regulateur.png', 'Les artères et les océans sont deux systèmes régulateurs de chaleur essentiels. Les artères dans le corps humain régulent la température interne, tandis que les océans jouent un rôle crucial dans la régulation thermique de la planete.')"
  />

    <img
      src="/assets/poumons.svg"
      alt="Poumons"
      class="absolute left-1/2 top-[17%] w-[10%] -translate-x-1/2 transition-transform duration-300 ease-in-out hover:scale-125"
      (click)="openModal('Poumon de la planète', '/assets/phytoplancton.png','Les poumons assurent l\'échange d\'oxygène et de dioxyde de carbone entre le corps et' +
       ' l\'environnement. Ils absorbent l\'oxygène de l\'air pour alimenter les cellules et expulsent le dioxyde de carbone, un déchet métabolique. Ce n\'est pas pour rien que' +
       ' l\'on dit que les océans sont le poumon de la planète !' +
       ' À l’échelle de la Terre, les océans remplissent un rôle similaire grâce au phytoplancton.' +
       ' Ce végétal microscopique capte le CO₂ dissous dans l’eau, produit environ 50 % de l’oxygène que nous respirons et régule les excès de carbone issus des activités humaines.')"
    />
    <img
      src="/assets/coeur.svg"
      alt="Cœur"
      class="absolute left-1/2 top-[24%] w-[10%] -translate-x-1/4 transition-transform duration-300 ease-in-out hover:scale-110"
      (click)="openModal('Cœur', '/assets/circulation_thermohaline.png','Tout comme les arthères se réunissent au niveau du coeur pour réoxygener en sang, les courants océaniques, se ' +
       'réunissent à des endroits spécifiques du globe pour se réchauffer ou se refroidir et regagner en vélocité')"
    />
    <img
      src="/assets/image_rein.png"
      alt="Reins"
      class="absolute left-1/2 top-[38%] w-[10%] -translate-x-1/2 transition-transform duration-300 ease-in-out hover:scale-125"
      (click)="openModal('Regulation de la pollution', '/assets/pollution_reins_oceans.jpg','Les reins filtrent le sang pour éliminer les déchets métaboliques (comme l\'urée et la créatinine) et ' +
      'les excès de substances (eau, sel, etc.), permettant de maintenir un équilibre chimique dans le corps.' + 'Les océans, grâce à leurs courants et écosystèmes (zones humides, récifs' +
       'coralliens, mangroves), agissent comme un système naturel de filtration en absorbant et en dégradant certains polluants. Des micro-organismes marins décomposent les déchets organiques' +
        'et recyclent les nutriments.')"
    />

    <img
  src="/assets/os.svg"
  alt="Os"
  class="absolute left-[42%] top-[18%] w-[10%] -translate-x-1/2 transition-transform duration-300 ease-in-out hover:scale-110"
  (click)="openModal('Le calcium', '/assets/coquillage.jpg','Les os sont principalement constitués de calcium, qui est également un élément clé des océans sous forme de carbonate de calcium. Ce minéral joue un rôle crucial dans la régulation du pH des océans et dans la formation des coquilles marines. Un excès de dioxyde de carbone dans l’atmosphère acidifie les océans, ce qui peut perturber la capacité des coraux et des coquillages à se former.')"
/>


  </div>
</div>

<!-- Modale -->
<div id="organModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center opacity-0 pointer-events-none transition-opacity duration-500 ease-in-out">
  <div class="bg-white p-8 rounded-md w-1/3 text-center">
    <h2 id="organName" class="text-2xl font-bold mb-4"></h2>
    <img id="organImage" class="w-full h-auto mb-4" />
    <p id="organDescription" class="text-lg text-gray-700 mb-4"></p> <!-- Ajout de la description -->
    <button (click)="closeModal()" class="px-4 py-2 bg-blue-500 text-white rounded-md">Fermer</button>
  </div>
</div>
